/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    background-color: #d3d3d3;
}

/*COMMON*/
.check{
    color:green;
}

.editorial{
    background-color: #45abea;
    color: #ffffff;
    font-size: .7em;
    border-radius: 10px;
    padding:5px 8px;
}

/*HEADER*/
.logo-header{
    background-color: #ffffff;
    height:100px;
    padding:20px 0;
}

#logo-boolean{
    height: 60px;
    margin: 10px 0 10px 20px;
}

#toboolist-header{
    font-size: 3em;
    font-weight: 900;
    vertical-align: top;
    line-height: 80px;
}

/*MAIN*/
.container-main{
    background-color: #ffffff;
    margin: 50px auto;
    border-radius: 10px;
    width: 60%;
}

/*BUTTONS ZONE*/
main .buttons-zone{
    height:60px;
}

#add-task{
    background-color: #47adf1;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    border-color: #47adf1;
    color: #ffffff;
}

#add-section{
    background-color: #ffffff;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border-color: #808080;
    color: #808080;
}

/*LIST*/
ul{
    list-style: none;
    font-size: 1.5em;
    font-weight: 800;
    margin: 30px 0 0 50px;
}

li{
    font-weight: 100;
    margin-top: 5px;
}