/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: #d3d3d3;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

ul{
    list-style: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.align-middle{
    vertical-align: middle;
}

.bg-white{
    background-color: #ffffff;
}

.mt-4{
    margin-top: 4em;
}

.btn{
    padding: 0.3em 1.2em;
    border-radius: 5px;
    color: #d3d3d3;
}

.btn-blue{
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

.btn-light{
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
}

/* HEADER */
header{
    background-color: #ffffff;
    height: 60px;
    line-height: 60px;
    padding: 0 1em;
    font-size: 1.5em;
    font-weight: bold;
}

/* CONTENT */
.main-nav{
    padding:1em 2em .8em 2em;
    border-bottom: 2px solid #d3d3d3;
}

.main-content{
    padding: 1.2em 2em;
}

/* TO DO LIST */
.todo-list > li{
    margin-bottom: 1em;
}

.todo-list h2{
    margin-bottom: .6em;
}

.todo-list h2 span{
    margin-right: .5em;
}

.inner-todo-list > li{
    margin-bottom: .6em;
}

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.checked{
    color: #008000;
    border-color: #008000;
}

.canceled{
    color: #ff0000;
    border-color: #ff0000;
}

.tag{  
    color: #ffffff;
    display: inline-block;
    margin: 0 0.5em;  
    padding: .1em .5em;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
}

.tag-editorial{
    background-color: #45abea;
    border-color:  #45abea;
}

.tag-q1-goals{
    background-color: #9c72e4;
    border-color:  #9c72e4;
}

.tag-recruiting{
    background-color: #64c0a9;
    border-color:  #64c0a9;
}

.tag-mobile{
    background-color: #f29e33;
    border-color:  #f29e33;
}

.tag-website{
    background-color: #d863a1;
    border-color:  #d863a1;
}

.tag-sales{
    background-color: #b0c926;
    border-color:  #b0c926;
}